.App {
  text-align: center;
  border: maroon solid;
  background-color: white;
}

.container {
  border: solid black;
  margin: 10px;
  padding: 10px;
  background-image: url("./assets/fabric.png");
}

.card {
  border: solid white 2px;
  border-radius: 15px;
  /* box-shadow : 0 17px 50px rgba(0, 0, 0, 0.40) ; */
  background-color: seashell;
  margin: 10px;
  padding: 10px;
  flex: 1;
  flex-basis: auto
}

.card:hover {
  box-shadow : 0 17px 50px rgba(0, 0, 0, 0.40) ;
}

.my-recipes {
  display: flex;
  justify-content: center;
  height: 600px;
  flex: 1;
  flex-basis: auto
}

.card-holder {
  overflow: scroll;
  flex: 1;
  flex-basis: auto
}

.shopping {
  display: flex;
  flex: 1;
}

.meals {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 20pt;
}

.ing-list {
  text-align: left;
}

.ing-list > label {
  margin: 2px;
}


form {
  text-align: left;
  padding: 20px;
}

input, textarea  {
  float: right;
}

input, checkbox  {
  float: left;
}

td {
  height: 150px;
  width: 23%
}




/* Chalkboard frame idea */

/* .frame {
		position: relative;
		width: 640px;
		margin: 7% auto;
		border: tan solid 12px;
		border-top: #bda27e solid 12px;
		border-left: #b19876 solid 12px;
		border-bottom: #c9ad86 solid 12px;
		box-shadow: 0px 0px 6px 5px rgba(58, 18, 13, 0), 0px 0px 0px 2px #c2a782, 0px 0px 0px 4px #a58e6f, 3px 4px 8px 5px rgba(0, 0, 0, 0.5);

		background-color: #333;
} */
