@font-face {
  font-family: blackboard;
  src: url('./assets/fonts/BlackBoard.ttf');
}

/* font-family: 'Patrick Hand', cursive; */


.App {
  text-align: center;
  background-color: white;
}

.recipe-card {
  background-color: white;
  border: 2px solid black;
  font-family: 'Patrick Hand', cursive;
  font-size: 16pt;
  color: black;
  padding: 5px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  margin: 10px;
  padding: 10px;
}

.recipe-card .title, label {
  color: black;
  text-shadow: none;
}

.spot-card {
  min-height: 100px;
}

.post {
  background-color: lemonchiffon;
  border: none;
}

.redline {
  width: 100%;
  background-color: red;
  height: 4px;
}
.blueline {
  width: 100%;
  background-color: lightblue;
  height: 2px;
}

.container {
  border: solid black;
  margin: 10px;
  padding: 10px;
  background-color: linen;
  font-family: 'Patrick Hand', cursive;
}

.card {
  border: solid lemonchiffon 2px;
  border-radius: 15px;
  /* box-shadow : 0 17px 50px rgba(0, 0, 0, 0.40) ; */
  background-color: darksalmon;
  color: lemonchiffon;
  text-shadow: 1px 1px 2px black;
  margin: 10px;
  padding: 10px;
  flex: 1;
  flex-basis: auto;
  font-family: 'Patrick Hand', cursive;
  font-size: 16pt;
}

.r-card {
  flex-basis: 20%;
  overflow: scroll
}

.r-card label {
  text-shadow: 1px 1px 2px black
}

.card-holder {
  overflow: scroll;
  flex-basis: 25%;
}

.r-title {
  font-family: 'Patrick Hand', cursive;
  font-weight: bold;
  font-size: 26pt;
  color: darksalmon;
  margin: 10px auto;
  text-shadow: 1px 1px 2px gold;
}

.card:hover {
  box-shadow : 0 17px 50px rgba(0, 0, 0, 0.40) ;
}

.day-header {
  color: #f4f4f0;
  text-align: left;
  width: 15%;
  font-family: blackboard;
  font-size: 30pt;
}

.my-recipes {
  display: flex;
  justify-content: space-between;
  height: 100vh;
  flex: 1;
  flex-basis: auto
}

.shopping {
  display: flex;
  position: relative;
	width: 75%;
	margin: 20px auto;
  padding: 14px;
	border: tan solid 12px;
	border-top: #bda27e solid 12px;
	border-left: #b19876 solid 12px;
	border-bottom: #c9ad86 solid 12px;
	box-shadow: 0px 0px 6px 5px rgba(58, 18, 13, 0), 0px 0px 0px 2px #c2a782, 0px 0px 0px 4px #a58e6f, 3px 4px 8px 5px rgba(0, 0, 0, 0.5);
  background-image: url('./assets/img/fabric.png');
}


.meals {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 17pt;
  font-family: blackboard;
  font-size: 30pt;
}

.mp-btn {
  background-color: darksalmon;
  border-radius: 5px;
  border: 2px solid black;
  color: linen;
  font-weight: bold;
  text-shadow: 1px 1px 2px black;
  padding: 15px 32px;
  text-align: center;
  width: 250px;
  font-family: 'Patrick Hand', cursive;
  font-size: 35px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.print-button {
  text-decoration: none;
  border: solid rgba(0, 0, 0, 0.40) 1px;
  padding: 5px;
  background-color: lightgray;
  color: black;
  border-radius: 5px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  margin: 10px;

}

.ing-list {
  text-align: left;
}

.ing-list > label {
  margin: 2px;
}

.title {
  font-family: 'Patrick Hand', cursive;
  font-weight: bold;
  font-size: 26pt;
  color: lemonchiffon;
  text-shadow: 1px 1px 2px black;
  margin: 10px auto;
}



.material-icons {
  color: lemonchiffon;
  float: right;
}

.top-right {
  position: absolute;
  top: 6px;
  right: 6px
}

.navbar {
  height: 50px;
  background-color: darksalmon;
}

.mon {
  color: #f2a3bd;
}

.tue {
  color: #fad48b;
}

.wed {
  color: #bcdf8a;
}

.thu {
  color: #94c0cc;
}

.fri {
  color: #ed7777;
}

.sat {
  color: #c4adc9;
}

.sun {
  color: #6fe7db;
}

.print {
  font-size: 32pt;
  text-align: left;
  margin: 50px;
}

.recipe {
  width: 50%;
}

.shop-list {
  width: 50%;
  height: inherit;
}

form {
  text-align: left;
  padding: 20px;
}

input, checkbox  {
  float: left;
}

td {
  vertical-align: center;
  padding: 5px;
  height: 150px;
  width: 20%
}

th {
  font-weight: normal;
}


h1, h2, h3, h4, h5, h6 {
  color: lemonchiffon;
  text-shadow: 1px 1px 2px black;
}

form label {
  margin-left: 8px;
  color: lemonchiffon;
}

p {
  font-weight: bold;
}

h4 label {
  text-shadow: none;
}




/* Chalkboard frame idea */

.frame {
  color: white;
	position: relative;
	width: 75%;
	margin: 20px auto;
  padding: 14px;
	border: tan solid 12px;
	border-top: #bda27e solid 12px;
	border-left: #b19876 solid 12px;
	border-bottom: #c9ad86 solid 12px;
	box-shadow: 0px 0px 6px 5px rgba(58, 18, 13, 0), 0px 0px 0px 2px #c2a782, 0px 0px 0px 4px #a58e6f, 3px 4px 8px 5px rgba(0, 0, 0, 0.5);
	background-image: url('./assets/img/chalkboard-black.jpg');
}

/*
 #ffe6cc - blush
 */
